<!DOCTYPE html>
<html>
  <head>
    <title>{% block title %}Главная страница{% endblock %}</title>
    {% load bootstrap5 %}
    {% bootstrap_css %} 
    {% bootstrap_javascript %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/base.css' %}" />
    <link rel="icon" href="/media/images/logo.png" type="image/x-icon" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
      rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,600;0,700;1,400;1,600&display=swap"
      rel="stylesheet"
    />
      <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  </head>
  <body>
    <ul class="nav bg-dark p-2 flex-nowrap">
      <li class="nav-item flex-grow-1">
        <a class="nav-link link-light text-center" href="/">Главная</a>
      </li>
      <li class="nav-item w-50 flex-grow-1">
        <div class="search_box">
          <form id="searchForm" method="get" action="{% url 'words:word_detail' %}">
            <div class="input-group">
              <input type="text" class="form-control" placeholder="Поиск" name="word" id="word"/>
              <div class="input-group-append">
                <button class="btn btn-outline-success btn-outline-secondary" type="submit">
                  Искать
                </button>
              </div>
            </div>
          </form>
          <div class="word_tips"></div>
        </div>
      </li>
      {% if not request.user.is_authenticated %}
      <li class="nav-item flex-grow-1 text-center">
        <a class="nav-link link-light" href="{% url 'login' %}">Войти</a>
      </li>
      {% else %}
      <li class="nav-item flex-grow-1 text-center">
        <a class="nav-link link-light" href="{% url 'learning:profile' %}"
          >Профиль</a
        >
      </li>
      <li class="nav-item flex-grow-1 text-center">
        <a class="nav-link link-light" href="{% url 'learning:exercises' %}"
          >Упражения</a
        >
      </li>
      <li class="nav-item flex-grow-1 text-center">
        <a class="nav-link link-light" href="{% url 'logout' %}">Выйти</a>
      </li>
      {% endif %}
    </ul>
    {% block content %}
    <div class="main">
      <div class="block">
        {% if messages %}
        <div class="notifications">
            {% for message in messages %}
            <div class="notification alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
                {{ message|safe }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            {% endfor %}
        </div>
        {% endif %}
        <div class="center-text">
          <h3 class="big-text">Welcome to enlearn</h3>
          <p class="left-text indent">
            Хелоу май френд, зис из сайт хелп ту ю... Короче, братишка или
            сетричка! Добро пожаловать на сайт, который поможет вам изучать
            английские слова! Здесь, собранны все слова, которые помогут тебе
            охмурить любого англоговорящего, также есть упражения,
            которые облегчают и структурируют процесс обучения. Вы же не хотите забыть
            нужное слово в споре? Будете потом бесконечно прокручивать в голове, как бы
            сказали и так и эдок. Так что сидим учим!
          </p>
          <h2 class="left-text">Ультра упражения</h2>
          <p class="left-text indent">
            Безумно мощные! Невероятно прогрессивные! Иии... да, самые простые.
            Зато рабочие! Дам вам секрет, только никому! Не усложняйте свою
            жизнь!
          </p>
          <h2 class="left-text">Потерясающий профиль</h2>
          <p class="left-text indent">
            Обожаете цифры? Любите следить за процессом? Хотите контролировать и
            домировать? Ах ты мой маленький больной уб... Точнее круто, что для таких как вы,
            я создал профиль, где вы можете утолить свои желания, следите за всем
            своим прогрессом обучения!
          </p>
          <h2 class="left-text">База слов</h2>
          <p class="left-text indent">
            Это база! Лично путешествовал по миру, собирая крупицы смысла каждого слова. 
            Был на грани жизни и смерти, сражался с саблезубым
            тигром в Индии, чтобы мудрец, рассказал секреты индийского акцента. Разбирался
            в сокращениях автралийцев. И черт меня побрал, общался с
            подлинными англичанами! Боже упаси меня повторить... Бутылка воды... Бутылка воды...
            Вы слышали, как они это говорят? ВЫ СЛЫШАЛИ??? И теперь
            предлагаю всё это совершенно бесплатно без смс и регистрации!
          </p>
          <h2 class="left-text">Есть вопросики?</h2>
          <p class="left-text indent">
            Если есть удивительные идеи, как улучшить сайт. Безумная ярость
            из-за ошибок на сайте. Безграчная благодарность и вы незнаете, кому
            это высказать. То ваш покорный слуга находится тут:
            <a href="https://vk.com/maksonik6" target="_blank"><img src="/media/images/logoVK.png" width="30px"/></a>
            <a href="https://www.youtube.com/@the_forever_student" target="_blank"><img src="/media/images/logoYouTube.png" width="30px"/></a>
            <a href="https://t.me/Maksonik6" target="_blank"><img src="/media/images/logoTelegram.png" width="30px"/></a>
          </p>
        </div>
      </div>
    </div>
    {% endblock %}
  </body>
  <script>
    document.addEventListener('DOMContentLoaded', (event) => {
        let wordListUrl = "{% url 'words:word_list' %}";
        let search = document.querySelector('.form-control')

        search.addEventListener('input', async (e) => {
            let text = search.value
            let options = {
                method: 'GET',
                headers: {
                    'Content-Type': 'application/json',
                    'X-Requested-With': 'XMLHttpRequest',
                },
            };

            let response = await fetch(`${wordListUrl}?text=${encodeURIComponent(text)}`, options)
            let data = await response.json()
            let word_tips = document.querySelector('.word_tips')

            if (data.words != ''){
                word_tips.style.display = 'block'
                word_tips.innerHTML = ''
                for (let word of data.words.slice(0,10)) {
                    let div = document.createElement('div')
                    div.textContent = `${word.name} - ${word.short_description}`
                    div.addEventListener('click', (e) => {
                        window.location.href = '{% url "words:word_detail" %}?word=' + encodeURIComponent(word.name)
                    })
                    word_tips.append(div)
            }} else {
                word_tips.style.display = 'none'
                word_tips.innerHTML = ''
            }
        })

        search.addEventListener('blur', (e) => {
            let word_tips = document.querySelector('.word_tips')
            setTimeout(() => {
                word_tips.style.display = 'none';
            }, 100)
        })
        {% block domready %}
        {% endblock %}
    })
  </script>
</html>
