upstream uwsgi_app {
    server unix:/code/uwsgi_app.sock;
}
server {
    listen 80;
    server_name www.en-learn.com en-learn.com;
    error_log  stderr warn;
    access_log  /dev/stdout main;

    location / {
        include /etc/nginx/uwsgi_params;
        uwsgi_pass  uwsgi_app;
    }

    location /static/ {
        alias /code/static/;
    }

    location /media/ {
        alias /code/media/;
    }
}