{% extends "base.html" %}

{% block title %}{{word.title}}{% endblock %}

{% block content %}
<div class="main">
    <div class="block">
        <div class="word">
            <span class="name">{{ word.name|title }} <sub>{%if word.rank|add:"0" >= 22000 %}> {%endif%}{{ word.rank }}</sub></span>
            <div class="learning">
                <a class="create-study-word">Изучать</a>
            </div>
        </div>
        {% if not word.short_description == None %}
        <div class="phrase">
            <span class="short-description ">{{ word.short_description }}</span>
        </div>
        <hr>
        {% endif %}
        {% if word.sounds.0.sound is not None and  word.sounds.1.sound is not None %}
        <div class="d-flex flex-row">
            {% for sound in word.sounds %}
            <div class="sound flex-grow-1 d-flex flex-col" >
                <span class="transcription phrase">{{sound.transcription}}</span>
                <audio  controls="controls" preload="auto" hidden>
                    <source src="{{sound.sound}}" type="audio/mpeg">
                </audio>
                <span class="audio" onclick="this.previousElementSibling.load();this.previousElementSibling.play()">
                    <img src="/media/images/play.jpg" width="25px">
                </span>
            </div>
            {% endfor %}
        </div>
        <hr>
        {% endif %}
        {% if forms %}
        <p>Формы слова:</p>
        <div class="d-flex forms-word phrase">
        {% for part_of_speech, forms in forms.items %}
        <div class="d-flex form-word">
            <span class="part-of-speech">{{part_of_speech}}:</span>
            {% for form in forms %}
                <span><i class="grey">{{form.0}}</i> {{form.1}}</span>
            {% endfor %}
        </div>
        {% endfor %}
        </div>
        <hr>
        {% endif %}
        {% for part_of_speech, description in descriptions.items%}
        <div class="meaning">
            <p class="m-2 part-of-speech">{{ part_of_speech }}</p>
            {% for general_meaning, deep_meaning in description.items%}
            {% if forloop.counter > 10 %}
            <div class="general-meaning hidden"> <span>{{ general_meaning }}</span>
                {% for meaning in deep_meaning %}
                {% if meaning.0 %}
                <div class="deep-meaning hidden">  {{ meaning.0 }} — <span class="grey">{{ meaning.1 }}</span></div>
                {% endif %}
                {% endfor %}
            </div>
            {% else %}
            <div class="general-meaning "> <span>{{ general_meaning }}</span>
                {% for meaning in deep_meaning %}
                {% if meaning.0 %}
                <div class="deep-meaning hidden">  {{ meaning.0 }} — <span class="grey">{{ meaning.1 }}</span></div>
                {% endif %}
                {% endfor %}
            </div>
            {% endif %}
            {% endfor %}
             {% if description.items|length > 10 %}
            <span class="more">Ещё {{description.items|length|add:-10}}</span>
            {% endif %}
        </div>
        {% endfor %}
        <hr>
        {% if word.phrases %}
        <p>Словосочетания:</p>
        {% for phrase in word.phrases%}
        <div class="phrase">
            <span >{{phrase.phrase}}</span> - <span class="grey">{{phrase.translate}}</span>
        </div>
        {% endfor %}
        <hr>
        {% endif %}
        {% if word.examples %}
        <p>Примеры с переводом:</p>
        {% for example in word.examples|slice:":15"%}
        <div>
            <p class="example"><span class="sentense">{{example.example}} </span>
                <br>
                <span class="translate">{{example.translate}}</span>
            </p>
        </div>
        {% endfor %}
        {% endif %}
    </div>
</div>
{% endblock %}


{% block domready %}
    const generalMeanings = document.querySelectorAll('div.general-meaning')
    for (let generalMeaning of generalMeanings){
        const deepMeanings = generalMeaning.querySelectorAll('.deep-meaning')
        if (deepMeanings.length != 0) {
            let span = generalMeaning.querySelector('span')
            span.style.cursor = 'pointer'
            span.style.textDecoration = "UnderLine #838383"
            span.addEventListener('click', () => {
                for (let deepMeaning of deepMeanings) {
                    deepMeaning.classList.toggle('hidden')
                }
            })
    }
}
    const buttonsMore = document.querySelectorAll('span.more')
    for (let button of buttonsMore) {
        button.style.cursor = 'pointer'
        const text = button.textContent
        const meaning = button.closest('.meaning')
        const generalMeaningsHidden = meaning.querySelectorAll('.general-meaning.hidden')
        button.addEventListener('click', () => {
            for (generalMeaningHidden of generalMeaningsHidden) {
                generalMeaningHidden.classList.toggle('hidden')  
            }
        if ( button.textContent == 'Свернуть'){
            button.textContent = text
        } else {
            button.textContent = 'Свернуть'
        }
        })
    }

    async function CreateStudyWord(wordName) {
        const url = '{% url "create_study_word" %}';
        const data = {
            word: wordName
        }
    
        const response = await fetch(url, {
            method: 'POST',
            headers: {
                'Content-Type' : 'application/json'
            },
            body: JSON.stringify(data)
        })
        console.log('ok')
    }

    async function checkWord(word) {
        const url = '{% url "check_study_word" %}';
        const data = {
            word: word
        }
        const response = await fetch(url, {
            method: 'POST',
            headers: {
                'Content-Type' : 'application/json'
            },
            body: JSON.stringify(data)
        })

        let message = await response.json()
        if (message.message === 'yes' ) {
            let btn = document.querySelector('.create-study-word')
            btn.classList.add('disable')
            btn.textContent = 'Изучается'
        }
        
    }

    const buttonStudy = document.querySelector('.create-study-word')
    buttonStudy.addEventListener('click', async () => {
        await CreateStudyWord('{{word.name}}')
        await checkWord('{{word.name}}')
    })

    checkWord('{{word.name}}')
{% endblock %}