{% extends "base.html" %}

{% block title %}Ошибка{% endblock %}


{% block content %}
<div class="main">
    <div class="block">
        <div class="center-text ">
            <h3>Упсс   😅</h3>
            <p>
                Такого слово на нашем сайте нет. Есть несколько случаев почему так случилось:
                <ol>
                    <li>Я, разработчик сайта, такой неугодник, потерявший совесть, что такое банальное слово не добавил на это сайт. Ай я яй мне. Теперь мне стыдно, и уже, плача и стараясь из-за всех сил, добавляю это слово! Честно-честно!</li>
                    <li>Вы, сказачный мыслитель, который любит придумывать несуществующие слова. В этом случае, если начали, то и сами додумайте смысл слова! Флаг вам в ручки!</li>
                    <li>Простая опечатка, внимательно проверте слово, которое вы вводите, возможно, что, где вы ошиблись. Удачи!</li>
                </ol>
            </p>
        </div>
    </div>
</div>
{% endblock %}

{% block domready %}
{% endblock %}