{% extends "base.html" %}

{% block title %}Вспомнить всё{% endblock %}


{% block content %}

<div class="main">
    <div class="block">
        <div class="form">
         <div class="name">
            <h3>Word</h3>
            <h4>|Transcription|</h4>
         </div>
         <div class="hints">

         </div>
        <div class="buttuns">
            <button type="button" class="btn btn-outline-warning btn-lg">Помощь</button>
            <button type="button" class="btn btn-outline-info btn-lg">Прослушать</button>
            <button type="button" class="btn btn-outline-success btn-lg remember">Дальше</button>
        </div>
        </div>
    </div>
</div>

{% endblock %}

{% block domready %}


{% endblock %}