{% extends "base.html" %}

{% block title %}Вспомнить всё{% endblock %}


{% block content %}

<div class="main">
    <div class="block">
        <div class="form">
            <div>
                <h4 class="word">???</h4>
                <h4 class="transcription"></h4>
            </div>
            <input type="text" class="form-control w-100 biathlon">
            <div class="name-b">
                <h4 class="short-description">Short description</h3>
                <div class="form-example">
                    <h4 class="sentense">translate</h4>
                    <h4 class="translate">translate</h4>
                </div>
            </div>
            <div class="hints"></div>
            <div class="buttuns">
                <button type="button" class="btn btn-outline-warning btn-lg help">Помощь</button>
                <button type="button" class="btn btn-outline-info btn-lg">Прослушать</button>
                <button type="button" class="btn btn-outline-success btn-lg remember">Дальше</button>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block domready %}

// Получает слова из базы
async function getWords() {
    const response = await fetch('{% url "learning:get_all_studywords" %}')
    const data = await response.json()
    return JSON.parse(data.data)
}

// Получает подробную инфу о слове
async function getInfoWord(word) {
    let response = await fetch(`http://127.0.0.1:8000/api/v1/words/${word.word_id}`)
    let data = await response.json()
    return data
}

async function getExample(word) {
    let example
    try {
        example = word.examples[0].example
    } catch {
        try {
            example = word.phrases[0].phrase
        } catch {
            example = 'Нету предложения'
        }
    }
    return example
}

async function getTranslate(word) {
    let translate
    try {
        translate = word.examples[0].translate
    } catch {
        try {
            translate = word.phrases[0].translate
        } catch {
            translate = 'Нету перевода'
        }
    }
    return translate
}

// Устанавливает информацию на сайте
async function setInfoWord(word) {
    let short_description = document.querySelector('h4.short-description')
    let sentense = document.querySelector('h4.sentense')
    let translate = document.querySelector('h4.translate')
    let transcription = document.querySelector('h4.transcription')
    let wordName = document.querySelector('h4.word')
    let input = document.querySelector('input.biathlon')

    console.log(word.name)

    wordName.textContent = '???'
    transcription.textContent = ''
    input.value = ''

    short_description.textContent = word.short_description

    let wordExample = await getExample(word)
    let wordTranslate = await getTranslate(word)

    textSentense = wordExample.replace(new RegExp(word.name, "i"),  ' .... ')

    sentense.textContent = textSentense
    translate.textContent = wordTranslate
}

async function help(word) {
    let transcription = document.querySelector('h4.transcription')
    let sentense = document.querySelector('h4.sentense')

    let wordExample = await getExample(word)

    sentense.textContent = wordExample
    transcription.textContent = word.sounds[0].transcription
}

document.addEventListener('keydown', async (e) => {
    let searchInput = document.querySelector('input')
    if (/^[a-zA-Z]$/.test(e.key) && !e.ctrlKey && !e.altKey && !e.metaKey && !e.shiftKey && e.target !== searchInput) {
        let input = document.querySelector('input.biathlon');
        input.focus();
    }
})



async function wordWithWords() {
    let inc = 0
    let jsonWords = await getWords()
    if (inc >= jsonWords.length) {
        // редирект если слов больше нет
        window.location.href = '{% url "learning:exercises" %}'
    }
    let info = await getInfoWord(jsonWords[inc])
    await setInfoWord(info)

    async function nextWord() {
        inc += 1
        if (inc >= jsonWords.length) {
            // редирект если слов больше нет
            window.location.href = '{% url "learning:exercises" %}'
        }
        info = await getInfoWord(jsonWords[inc])
        return info
    }


    let btnLesson = document.querySelector('.btn-outline-info')
    btnLesson.addEventListener('click', (e) => {
        let audio = new Audio(`${info.sounds[0].sound}`)
        audio.play()
    })

    let bthSuccess = document.querySelector('.remember')
    bthSuccess.addEventListener('click', async (e) => {
        info = await nextWord()
        await setInfoWord(info)
    })

    let btnHelp = document.querySelector('.help') 
    btnHelp.addEventListener('click', async (e) => {
        console.log(info)
        await help(info)
    })

    document.addEventListener('keydown', async (e) => {
        if (e.key === 'Enter') {
            let input = document.querySelector('input.biathlon')
            if (input.classList.contains('success')) {
                input.classList.remove('success')
                input.classList.remove('wrong')

                let transcription = document.querySelector('h4.transcription')
                let word = document.querySelector('h4.word')

                word.textContent = '???'
                transcription.textContent = ''

                info = await nextWord()
                await setInfoWord(info)

                input.value = ''
                return;
            }

            input.classList.remove('success')
            input.classList.remove('wrong')
            let value = input.value

            if (value == info.name) {
                let word = document.querySelector('h4.word')
                word.textContent = info.name
                await help(info)
                input.classList.add('success')
            } else {
                input.classList.add('wrong')
                pathValue = ''

                for (let i=0; i < info.name.length-1; i++) {
                    if (value[i] == info.name[i]) {
                        pathValue += value[i]
                    }
                } 
                input.value = pathValue
            }
        }
    })
}


wordWithWords()
{% endblock %}