{% extends "base.html" %}

{% block title %}Вспомнить всё{% endblock %}


{% block content %}

<div class="main">
    <div class="block">
        <div class="form">
         <div class="name-r">
            <h3 class="margin-top-30 big-text">Word</h3>
            <h4>|Transcription|</h4>
         </div>
         <div class="hints">
         </div>
        <div class="buttuns">
            <button type="button" class="btn btn-outline-danger big">Не помню</button>
            <button type="button" class="btn btn-outline-success big remember">Помню</button>
            <button type="button" class="btn btn-outline-warning big">Помощь</button>
            <button type="button" class="btn btn-outline-info big">Прослушать</button>
        </div>
        </div>
    </div>
</div>

{% endblock %}

{% block domready %}


// Получает слова из базы
async function getWords() {
    const response = await fetch('{% url "learning:get_all_studywords" %}')
    const data = await response.json()
    return JSON.parse(data.data)
}

// Получает подробную инфу о слове
async function getInfoWord(word) {
    let response = await fetch(`http://127.0.0.1:8000/api/v1/words/${word.word_id}`)
    let data = await response.json()
    return data
}

// Устанавливает информацию на сайте
async function setInfoWord(word) {
    let name = document.querySelector('h3')
    let transcription = document.querySelector('h4')
    let hints = document.querySelector('.hints')

    while (hints.firstChild) {
        hints.removeChild(hints.firstChild);
    }

    name.textContent = word.name
    transcription.textContent = word.sounds[0].transcription
}

async function getExample(word) {
    let example
    try {
        example = word.examples[0].example
    } catch {
        try {
            example = word.phrases[0].phrase
        } catch {
            example = 'Нету предложения'
        }
    }
    console.log(example)
    return example
}

async function getTranslate(word) {
    let translate
    try {
        translate = word.examples[0].translate
    } catch {
        try {
            translate = word.phrases[0].translate
        } catch {
            translate = 'Нету перевода'
        }
    }
    
    return translate
}

async function ChangeLevelWord(wordName, change) {
    const url = '{% url "learning:change_level_word" %}';
    const data = {
        level: change,
        word: wordName
    }

    const response = await fetch(url, {
        method: 'POST',
        headers: {
            'Content-Type' : 'application/json'
        },
        body: JSON.stringify(data)
    })
}

async function wordWithWords() {
    let inc = 0
    let jsonWords = await getWords()
    if (inc >= jsonWords.length) {
        // редирект если слов больше нет
        window.location.href = '{% url "learning:profile" %}'
    }
    let info = await getInfoWord(jsonWords[inc])
    await setInfoWord(info)

    async function nextWord() {
        inc += 1
        console.log(inc, jsonWords.length)
        if (inc >= jsonWords.length) {
            // редирект если слов больше нет
            window.location.href = '{% url "learning:profile" %}'
        }
        info = await getInfoWord(jsonWords[inc])
        return info
    }

    let btnLesson = document.querySelector('.btn-outline-info')
    btnLesson.addEventListener('click', (e) => {
        let audio = new Audio(`${info.sounds[0].sound}`)
        audio.play()
    })

    let bthSuccess = document.querySelector('.remember')
    bthSuccess.addEventListener('click', async (e) => {
        bthSuccess.disabled = true;
        await ChangeLevelWord(info.name, 'up')
        info = await nextWord()
        await setInfoWord(info)
        bthSuccess.disabled = false;
    })

    let bthFail = document.querySelector('.btn-outline-danger')
    bthFail.addEventListener('click', async (e) => {
        bthFail.disabled = true;
        await ChangeLevelWord(info.name, 'down')
        info = await nextWord()
        await setInfoWord(info)
        bthFail.disabled = false;
    })

    let btnHelp = document.querySelector('.btn-outline-warning')
    btnHelp.addEventListener('click', async (e) => {
        if (!(document.querySelector('.eng'))){
            elementP = document.createElement('p')
            elementP.classList.add('eng')
            hints = document.querySelector('.hints')
            hints.appendChild(elementP)
            
            let text = await getExample(info)
            elementP.textContent = text

            if (document.querySelector('.translate')){
                document.querySelector('.translate').remove()
            }
        
            hints.appendChild(elementP)
            
        } else if (!(document.querySelector('.ru'))) {
            elementP = document.createElement('p')
            elementP.classList.add('ru')
            hints = document.querySelector('.hints')
            hints.appendChild(elementP)
            let text = await getTranslate(info)
            elementP.textContent = text

            hints = document.querySelector('.hints')
            hints.appendChild(elementP)
        } else if (!(document.querySelector('.translate'))) {
            elementP = document.createElement('p')
            elementP.classList.add('translate')
            elementP.textContent = info.short_description

            document.querySelectorAll('.eng').forEach(e => e.remove())
            document.querySelectorAll('.ru').forEach(e => e.remove())

            hints = document.querySelector('.hints')
            hints.appendChild(elementP)
        }
    })
}

wordWithWords()


{% endblock %}